@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0; /* always add this */
    padding:0;
}
body {
    font-size: 2em;
    font-family: Montserrat;
    background: url('img.jpg') repeat;
    color: white;
}
img {
    max-width: 100%;
}
.bottom-menu {
    font-size: 1em;
    top: 0;
    width: 100%;
    position: fixed; /* read and analyse */
}
.bottom-menu ul a li {
    color: white;
    text-decoration: none;
    text-align: center;
    float: left;
    list-style: none;
    width: 20%;
    padding: 1.6%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    border-bottom: 2px solid black;
}
.bottom-menu ul a li:hover { /* search .selected */
    opacity: 1;
}